rk3399-sd-debian-trixie-core-6.6-arm64-20260205.img.xz filter=lfs diff=lfs merge=lfs -text
linux-headers-6.6.84+.deb filter=lfs diff=lfs merge=lfs -text
linux-headers-6.6.84+_patch_Makefile.modpost.deb filter=lfs diff=lfs merge=lfs -text
